<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />

    <title>Cyber Beerpong</title>

    <meta name="description" lang="en" content="We Love Cyber Beerpong :-D" />
    <meta name="author" lang="en" content="T-Dog aka Bazooka" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/beerpong.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
