{% include 'header.html.twig' %}
<body>

<header>
{% include 'navigation.html.twig' %}
</header>

<main role="main">

<div class='table-responsive-sm'>
<table class='table table-sm'>
    <thead class='table-primary'>
    <tr>
        <th scope='col'>Rank</th>
        <th scope='col' style='text-align: center'><div class='centre-align'>Name</div></th>
        <th scope='col' style='text-align: center'>Games</th>
        <th scope='col' colspan='3' style='width: 1%'>Points</th>
        <th scope='col' style='text-align: center'>Legs</th>
    </tr>
    </thead>
    <tbody>
{% for user in users %}
	{% if user.name != null %}
	<tr>
        <td style='text-align: left'  >{{ user.rank }}.</td>
        <td style='text-align: left'  >{{ user.name  }}</td>
        <td style='text-align: center'>{{ user.games }}</td>
        <td style='text-align: right' >{{ user.pts1 }}</td>
        <td style='text-align: center'>:</td>
        <td style='text-align: left'  >{{ user.pts2 }}</td>
        <td style='text-align: center'>{{ user.legs }}</td>
	</tr>
	{% endif %}
{% endfor %}
	</tbody>
</table>
</div>

</main>

</body>
</html>