{% include 'header.html.twig' %}
<body>

<header>
{% include 'navigation.html.twig' %}
</header>

<main role="main">
<h1>Spielregeln <a class="btn btn-info btn-lg" href="downloads/spielregeln.pdf">Download (PDF)</a></h1>

<h2>1.) Aufbau / Equipment</h2>

<ol type='a'>
<li>Becher werden in 6er Kombination im Waeschestaender aufgebaut und mit Wasser befuellt.</li>
<li>Die Becher Nummerierung ist<br>

<code>
&nbsp;4&nbsp;5&nbsp;6<br>
&nbsp;&nbsp;2&nbsp;3<br>
&nbsp;&nbsp;&nbsp;1
</code>
</li>
<li>3 Glaeser fuer Trinkfuellung</li>
<li>Wurfdistanz zu Becher 5 sollte mindestens 160 cm betragen.</li>
<li>Mindestens 2 Tischtennis Baelle. *Hinweis*: Genuegend Ersatzbaelle bereitlegen!</li>
<li>Material um aus dem Spiel genommene Becher zu markieren (z.B. Kronkorken).</li>
</ol>

<h2>2.) Reglen &amp; Ablauf</h2>

<h3>2.1.) Grundlegende Spielregeln</h3>

<ol type='a'>
<li>Der erstgenanne Spieler einer Partie beginnt.</li>
<li>Keine Ausgleichwuerfe des zweitgenannten Spielers.</li>
<li>Pro Wurfrunde 2 Wuerfe.</li>
<li>Ellenbogen bei Wurf hinter Waeschestaenderkante (Fairplay! ;-))</li>
<li>Getroffener Becher ist sofort aus dem Spiel (auch beim Einchecken) wird aber **nicht** vom
Waeschestaender genommen. Daher wird bei Doppeltreffer in einen Becher der zweite Wurf als Fehlwurf gewertet.</li>
<li>Im Gegensatz zum normalen Bierpong gibt es kein Becherumstellen / Rekombinieren. Gekippte
Becher duerfen vor Beginn der Wurfrunde sauber aufgestellt werden.</li>
<li>Abpraller von Becher, egal ob der Becher noch im Spiel ist oder nicht, sind gueltig.</li>
<li>Abpraller vom Waeschestaender sind ebenfalls gueltig.</li>
<li>Abpraller von allen anderen Gegenstaenden sind nicht gueltig.</li>
<li>Baelle aus getroffenen Becher nach der Wurfrunde werden rausgefischt. Der getroffene Becher
sollte markiert werden (z.B. mit einem Kronkorken).</li>
</ol>

<h3>2.2.) Spielablauf</h3>

<ol type='a'>
<li>Pro Spiel werden 2 Saetze gespielt (in der KO Phase gibt es bei Gleichstand einen
   Entscheidungssatz). Der erstgenanne Spieler beginnt.</li>
<li>Die Spiele sind zeitlich begrenzt (20 min). Kann der zweite Satz nicht begonnen werden,
   geht der Satz als 0:0 in die Wertung ein.</li>
</ol>

<h3>2.3.) Besonderheit: Ein- und Auschecken</h3>

<ol type='a'>
<li>Das Spiel ist eroeffnet durch einen Treffer in Becher 5.</li>
<li>Das Spiel wird beendet durch einen Treffer in Becher 1.</li>
<li>Wird Becher 1 oder 5 nicht beim Ein- bzw. Auschecken getroffen, wird der Wurf als Fehlwurf gewertet.</li>
<li>Die uebrigen Becher duerfen dann in beliebiger Reihenfolge ausgeworfen werden.</li>
</ol>

<h3>2.4.) Becher Befuellung und Leerung</h3>

<ol type='a'>
<li>Erlaubte Becherfuellung (Bier, Wein, Weinschorle, Radler, alkoholfrei, Kirschwasser)</li>
<li>Pro Satz werden 100 ml in 3 Glaeser geschenkt.</li>
<li>Pro Treffer halbes Glas trinken.</li>
<li>Nach Ende des Satzes angefangenes Glas leertrinken.</li>
</ol>

<h2>3.) Turnier Ablauf</h2>

<h3>3.1.)Allgemeines</h3>

<ol type='a'>
<li>Es nehmen 24 Spieler teil welche sich auf 4 Gruppen je 6 Spieler aufteilen.</li>
<li>Die besten 4 Spieler je Gruppe ziehen in die KO Phase ein.</li>
<li>Die uebrigen Teams spielen ebenfalls in einer KO Phase die finale Platzierung aus.</li>
</ol>

<h3>3.2) Gruppenphase</h3>

<ol type='a'>
<li>Pro gewonnenem Satz wird ein Punkt verteilt, so koennen pro Spiel 2, 1 oder 0 Punkte erzielt werden.
<li>Die getroffenen und kassierten Becher gehen ebenfalls in die Wertung ein.
<li>Bei Punktegleichstand entscheiden folgende Kriterien in der Reihenfolge:
<ul>
    <li>Direkter Vergleich</li>
    <li>Becherdifferenz aus getroffene Becher und kassierte Becher</li>
    <li>Staerke des alkoholischen Getraenks (Bier schlaegt Radler schlaegt alkoholfrei)</li>
    <li>Auslosung durch Commissioner</li>
</ul>
</ol>

<h3>3.3.) KO Phase</h3>

<ol type='a'>
<li>Der Spieler mit der besseren Platzierung aus der Gruppenphase erhaelt Anwurfrecht im Entscheidungssatz.</li>
<li>Haben beide Spieler die gleiche Platzierung wird Anwurfrecht gilt in folgender Reihenfolge:
<ul>
     <li>Staerke des alkoholischen Getraenks (Bier schlaegt Radler schlaegt alkoholfrei)</li>
     <li>Auslosung durch Commissioner</li>
</ul>
</li>
<li>Spiele in KO Runde werden ebenfalls zeitlich begrenzt mit Ausname des Finales / der Platzierungsspiele.</li>
</ol>

<h2>4.) Technik</h2>

<h3>4.1.) Technischer Ablauf</h3>

<ol type='a'>
<li>Organisiations Plattform ist Telegram.</li>
<li>Videokonferenz Plattform ist Jitsi.</li>
<li>Videokonferenz Raeume oeffnen 5 Minuten vor Anwurf und werden im Telegram Channel bekanntgegeben.</li>
<li>Der erstgenannte Spieler meldet Ergebnisse.</li>
</ol>

<h3>4.2.) Bei technischen Problemen</h3>

Sollte es zu technischen Problem kommen, z.B. Verlust Internetverbindung das Spiel via Telefon beenden.
Im Zweifel Commissionar Bazooka telefonisch kontaktieren zur Problemfindung. :-)

<p class="text-center">
<video src="videos/einleitung.mp4" controls></video>
</p>

</main>
</body>
</html>
