<nav class="navbar navbar-default">
  <div class="container-fluid justify-content-center">
    <div class="navbar-header">
        <a class="btn btn-info btn-lg" href="{{ refresh_route }}"><span class="fa fa-refresh"></span></a>
        <a class="btn btn-info btn-lg" href="/"><span class="fa fa-trophy"></span></a>
        <a class="btn btn-info btn-lg" href="/schedule"><span class="fa fa-calendar"></span></a>
        <a class="btn btn-info btn-lg" href="/info"><span class="fa fa-question-circle"></span></a>
    </div>
  </div>
</nav>