{% include 'header.html.twig' %}
<body>

<main role="main">

<div class='table-responsive-sm'>
<table class='table table-sm'>
    <thead class='table-primary'>
    <tr>
        <th scope='col' style='text-align: left'><div class='centre-align'>Name</div></th>
    </tr>
    </thead>
    <tbody>
{% for user in users %}
	{% if user.name != null %}
	<tr>
        <td style='text-align: left'  >{{ user.name  }}</td>
	</tr>
	{% endif %}
{% endfor %}
	</tbody>
</table>
</div>

<p>
<h1>Register</h1>

<form method='post' action='/register'>
<div class="form-row">
<div class="col">
	<input type="text" class="form-control" name="realname" placeholder="Realname">
</div>
</div>
Falls Teamname vom letzten mal wieder verwendet wird, kannst du das Feld auch leer lassen. :-)
<div class="form-row">
<div class="col">
	<input type="text" class="form-control" name="name" placeholder="Teamname">
</div>
</div>
<div class="form-row">
<div class="col">
	<button type='submit'>Register</button>
</div>
</div>
</form>
</p>

</main>

</body>
</html>