{% include 'header.html.twig' %}
<body>
<header>
{% include 'navigation.html.twig' %}
</header>

<main role="main">
<div class='table-responsive-sm'>

<table class='table table-sm'>
    <thead class='table-primary'>
    <tr>
        <th scope='col'>ID</th>
        <th scope='col'></th>
        <th scope='col' style='text-align: center;'><div class='centre-align'>Match</div></th>
        <th scope='col'></th>
        <th scope='col'></th>
        <th scope='col'>Jitsi</th>
    </tr>
    </thead>
    <tbody>

    {% for game in games %}
    {% set url = '<a href="https://meet.jit.si/UltimateCyberpongMatch' ~ game.id|e ~ '" target="_blank"\>open</a>' %}

    {% set row_style = "table-secondary" %}
    {% if ((game.id - 1) // 2) is divisible by(2) %}
        {% set row_style = "table-default" %}
    {% endif %}

    {% if game.pts1 is not null and game.pts2 is not null %}
    	{% set row_style = "table-success" %}
    {% endif %}

    {% set is_na = false %}
    {% if game.team1 is null or game.team2 is null %}
    	{% set row_style = "table-warning" %}
    	{% set is_na     = true %}
    {% endif %}
	<tr class='{{ row_style }}'>
		<td>
			<form method='post' id='f{{ game.id }}' action='/schedule'>
				<input type='hidden' id='id' name='id' value='{{ game.id }}'>{{ game.id }}
			</form>
		</td>
		<td>{{ game.team1 == null ? '<i>Pause</i>' : game.team1 }}</td>
		<td style='white-space:nowrap; text-align: center;'>
		{{ include('blocks/point_select.twig', {f_id: game.id, s_id: 1, score: game.pts1, is_na: is_na}) }}
		:
		{{ include('blocks/point_select.twig', {f_id: game.id, s_id: 2, score: game.pts2, is_na: is_na}) }}</td>
		<td>{{ game.team2 == null ? '<i>Pause</i>' : game.team2 }}</td>
		<td><button type='submit' form='f{{ game.id }}' class='btn'><i class='fa fa-save'></i></button></td>
		<td>{{ game.id is not divisible by(2) ? url|raw : "" }}</td>
	</tr>
    {% endfor %}
    </tbody>
</table>

</div>
</main>

</body>
</html>