
{% if s_id == 1 %}
{% set score_id1  = 's1f' ~ f_id|e %}
{% set score_id2  = 's2f' ~ f_id|e %}
{% set score_name = 'score1' %}
{% else %}
{% set score_id1  = 's2f' ~ f_id|e %}
{% set score_id2  = 's1f' ~ f_id|e %}
{% set score_name = 'score2' %}
{% endif %}


<select form='f{{ f_id }}'
        id='{{ score_id1 }}'
        name='{{ score_name }}'
        onchange='setScore("{{ score_id1 }}", "{{ score_id2 }}")'
        {{ score is not null or is_na ? 'class="form-select" disabled' : '' }}>
    <option value='-'>-</option>
    {% for i in 0..6 %}
    <option value='{{ i }}' {{ score is not null and i == score ? 'selected' : '' }}>{{ i }}</option>
    {% endfor %}
</select>